.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.circle {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  height: 500px;
  width: 500px;
  overflow: hidden;
}

.imageC {
  height: 270px;
  position: relative;
  top: 150px;
  /* transform: translateY(200px); */
}

/* .imageCScRollIn {
  transform: translateY(0);
  transition: all 2s ease;
} */

.image {
  height: 100%;
}

.text {
  color: #282c34;
  margin-top: 88px;
}

.upload-btn-wrapper {
  display: inline-block;
  margin-bottom: -57px;
}

.btn {
  border: 2px solid #282c34;
  color: white;
  background-color: #282c34;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.btn:focus {
  outline: 0;
}

.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.input {
  display: none;
}
/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
